<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pearl Coffee</title>
    <meta name="description" content="Pearl Coffee">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/vendor/modernizr-2.8.0.min.js"></script>
  </head>
  <body>
    <div id="container">
      <h1>
        <img src="http://placehold.it/400x179" alt="Pearl Coffee" />
      </h1>

      <a href='#' class='btn'>Order Online</a>

      <h2>Where Are We Located?</h2>
      <p>We visit local markets in the Phoenix Area.</p>


      <h3>UPCOMING LOCATIONS</h3>
      <ul class='upcoming'>
        <li>
          Gilbert Farmers Market
          <h5>July 26 - 27 <span>(Saturday & Sunday)</span></h5>
          <a href="#">View Map</a>
        </li>
        <li>
          Gilbert Farmers Market
          <h5>July 26 - 27 <span>(Saturday & Sunday)</span></h5>
          <a href="#">View Map</a>
        </li>
        <li class='coming-soon'>
          Coming Soon!
        </li>
      </ul>

      <h3>OUR PRODUCT</h3>
      <p>
        Our beans are Sourced Globally & Roasted Locally.
        Ours bags of coffee are made to order- which helps maintain high quality and guaranteed freshness for every batch.
        We rotate our coffee origins based on what is in season.
        We are taking you back to school and educating you on the worlds coffee, one cup at a time.
      </p>

      <div class='gallery'>

      <h4>ABOUT US</h4>
      <ul class='about-us'>
        <li>
          <img src='http://placehold.it/100x100'>
          <b>Kat Djordjevic</b> is our roaster / packaging / logistics guru and owner.
          Kat’s favorite drinks include cappuccino, iced coffee and turkish coffee.
        </li>

        <li>
          <img src='http://placehold.it/100x100'>
          <b>Gerald Leenerts</b> is our design / marketing / taste-tester guru and co-owner.
          His favorite drinks include cold brew ice coffee, iced americano --anything to keep him nice and cool.
        </li>

        <li>
          <img src='http://placehold.it/100x100'>
          <b>Pearl</b> is our white boxer and the inspiration for our coffee shop.
          Her rambunctious personality keeps us in line as we work throughout the day.
          Pearl’s favorite drinks include water and more water.
          She can’t get enough.
        </li>
      </ul>

      <p>
        We believe that drinking coffee and that surrounding ourselves in the local community is what life should be about.
      </p>
      <p>
        Our specialty is in light and medium roasted coffee from regions all over the world.
      </p>

      <div class='split'>
        Local AZ <b>Restaurants</b>, coffee shop or craft brewer, we’d love to hear from you!
      </div>
      <div class='split'>
        Local AZ <b>Business</b>, please drop us a line so we can keep your employees well caffeinated!
      </div>

      <div class='social'>
        <a class='email'><i class='icon-mail'></i></a>
        <a class='facebook'><i class='icon-facebook'></i></a>
        <a class='twitter'><i class='icon-twitter'></i></a>
      </div>

      <h2>See You Soon!</h2>

    </div>


  </body>
</html>
