<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pearl Coffee</title>
    <meta name="description" content="Pearl Coffee">
    <meta name="viewport" content="width=600">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />

    <script src="/js/vendor/modernizr-2.8.0.min.js"></script>
  </head>
  <body>
    <div id="container">

      <h1>
        <img src="/imgs/PearlCoffee.png" height="178" width="400" alt="PEARL COFFEE" />
      </h1>
      <div class='dots'>
        <div style="top: 22px; left: 197px;" class='dot'></div>
        <div style="top: 22px; left: 177px;" class='dot'></div>
        <div style="top: 22px; left: 157px;" class='dot'></div>
        <div style="top: 22px; left: 137px;" class='dot'></div>
        <!-- Down -->
        <div style="top: 22px; left: 137px;" class='dot'></div>
        <div style="top: 42px; left: 137px;" class='dot'></div>
        <div style="top: 62px; left: 137px;" class='dot'></div>
        <div style="top: 82px; left: 137px;" class='dot'></div>
        <!-- dot-focus -->
        <div style="top: 102px; left: 137px;" class='dot'></div>
        <div style="top: 122px; left: 137px;" class='dot'></div>
        <div style="top: 142px; left: 137px;" class='dot'></div>
        <!-- Right -->
        <div style="top: 142px; left: 157px;" class='dot'></div>
        <!-- Break -->
        <div style="top: 142px; left: 437px;" class='dot'></div>
        <div style="top: 142px; left: 457px;" class='dot'></div>
        <div style="top: 142px; left: 477px;" class='dot'></div>
        <div style="top: 142px; left: 497px;" class='dot'></div>
        <div style="top: 142px; left: 517px;" class='dot'></div>
        <!-- Down -->
        <div style="top: 162px; left: 517px;" class='dot'></div>
        <div style="top: 182px; left: 517px;" class='dot'></div>
        <div style="top: 202px; left: 517px;" class='dot'></div>
        <div style="top: 222px; left: 517px;" class='dot'></div>
        <div style="top: 242px; left: 517px;" class='dot'></div>
        <div style="top: 262px; left: 517px;" class='dot'></div>
        <div style="top: 282px; left: 517px;" class='dot'></div>
        <div style="top: 302px; left: 517px;" class='dot'></div>

      </div>

      <a href='http://squareup.com/market/pearlcoffee' target="_blank" class='btn order-online'>Order Online</a>

      <h2>Where Else Are We Located?</h2>
      <ul class='local'>
        <li>
          <h4 style='padding: 0; margin: 0 0 7px 0;'>We've moved to Colorado!</h4>
        </li>
        <!-- <li>
          <a href="http://www.waxworksaz.com" target="_blank">WaxWorks Scottsdale</a>
          <br>
          <span><b>4205 N. Winfield Scott Plaza</b> Scottsdale, AZ</span>
        </li> -->
      </ul>

      <h3 class='upcoming-locs'>SPECIAL EVENTS</h3>
      <ul class='upcoming'>
        <li>
          <h4>Coming Soon!</h4>
          <div class='dot'></div>
        </li>
        <!-- <li>
          <a class='title' target="_blank" href='https://www.etsy.com/shop/TuttiBellaDesigns'>Tutti Bella Designs</a>
          <h5>November 14, <span>4pm</span></h5>
          <a class='side-link' target='_blank' href="https://www.facebook.com/events/571497739621843/">View the Trunk Show</a>
          <div class='dot'></div>
        </li> -->
        <!-- <li>
          <a class='title' target="_blank" href='http://www.phoenixfit.net/'>Phoenix Fit</a>
          <h5>October 11 <span>6am-9am</span></h5>
          <a class='side-link' target='_blank' href="https://www.google.com/maps/place/Arcadia+Park/@33.4895403,-111.960041,17z/data=!4m5!1m2!2m1!1sArcadia+Park!3m1!1s0x0:0xa3f938a097913b7b">View Map</a>
          <div class='dot'></div>
        </li> -->
      </ul>

      <div class='dots'>
        <!-- Down -->
        <div style="top: 16px; left: 517px;" class='dot'></div>
        <div style="top: 36px; left: 517px;" class='dot'></div>
        <div style="top: 56px; left: 517px;" class='dot'></div>
        <div style="top: 76px; left: 517px;" class='dot'></div>
        <div style="top: 96px; left: 517px;" class='dot'></div>
        <div style="top: 116px; left: 517px;" class='dot'></div>
        <div style="top: 136px; left: 517px;" class='dot'></div>
        <div style="top: 156px; left: 517px;" class='dot'></div>
        <!-- Right -->
        <div style="top: 156px; left: 497px;" class='dot'></div>
        <div style="top: 156px; left: 477px;" class='dot'></div>
        <div style="top: 156px; left: 457px;" class='dot'></div>
        <div style="top: 156px; left: 437px;" class='dot'></div>
        <div style="top: 156px; left: 417px;" class='dot'></div>
        <!-- Title -->
        <div style="top: 156px; left: 177px;" class='dot'></div>
        <div style="top: 156px; left: 157px;" class='dot'></div>
        <div style="top: 156px; left: 137px;" class='dot'></div>
        <div style="top: 156px; left: 117px;" class='dot'></div>
        <div style="top: 156px; left: 97px;" class='dot'></div>
        <div style="top: 156px; left: 77px;" class='dot'></div>
        <div style="top: 156px; left: 57px;" class='dot'></div>
        <div style="top: 156px; left: 37px;" class='dot'></div>
        <div style="top: 156px; left: 17px;" class='dot'></div>
        <!-- Down -->
        <div style="top: 176px; left: 17px;" class='dot'></div>
        <div style="top: 196px; left: 17px;" class='dot'></div>
        <div style="top: 216px; left: 17px;" class='dot dot-focus'></div>
        <div style="top: 236px; left: 17px;" class='dot'></div>
        <div style="top: 256px; left: 17px;" class='dot'></div>
        <div style="top: 276px; left: 17px;" class='dot'></div>
        <div style="top: 296px; left: 17px;" class='dot'></div>
        <div style="top: 316px; left: 17px;" class='dot'></div>
        <div style="top: 336px; left: 17px;" class='dot'></div>
        <div style="top: 356px; left: 17px;" class='dot'></div>
        <div style="top: 376px; left: 17px;" class='dot'></div>
        <div style="top: 396px; left: 17px;" class='dot'></div>
        <div style="top: 416px; left: 17px;" class='dot'></div>
        <div style="top: 436px; left: 17px;" class='dot'></div>
        <div style="top: 456px; left: 17px;" class='dot'></div>
        <div style="top: 476px; left: 17px;" class='dot'></div>
        <div style="top: 496px; left: 17px;" class='dot'></div>
        <!-- Right -->
        <div style="top: 496px; left: 37px;" class='dot'></div>
        <div style="top: 496px; left: 57px;" class='dot'></div>
        <div style="top: 496px; left: 77px;" class='dot'></div>
        <div style="top: 496px; left: 97px;" class='dot'></div>
        <div style="top: 496px; left: 117px;" class='dot'></div>
        <div style="top: 496px; left: 137px;" class='dot'></div>
        <div style="top: 496px; left: 157px;" class='dot'></div>
        <div style="top: 496px; left: 177px;" class='dot'></div>
        <div style="top: 496px; left: 197px;" class='dot'></div>
        <div style="top: 496px; left: 217px;" class='dot'></div>
        <div style="top: 496px; left: 237px;" class='dot'></div>
        <div style="top: 496px; left: 257px;" class='dot'></div>
        <div style="top: 496px; left: 277px;" class='dot'></div>
        <div style="top: 496px; left: 297px;" class='dot'></div>
        <div style="top: 496px; left: 317px;" class='dot'></div>
        <div style="top: 496px; left: 337px;" class='dot'></div>
        <div style="top: 496px; left: 357px;" class='dot'></div>
        <div style="top: 496px; left: 377px;" class='dot'></div>
        <div style="top: 496px; left: 397px;" class='dot'></div>
        <div style="top: 496px; left: 417px;" class='dot'></div>
        <div style="top: 496px; left: 437px;" class='dot'></div>
        <div style="top: 496px; left: 457px;" class='dot'></div>
        <div style="top: 496px; left: 477px;" class='dot'></div>
        <div style="top: 496px; left: 497px;" class='dot'></div>
        <div style="top: 496px; left: 517px;" class='dot'></div>
        <div style="top: 496px; left: 537px;" class='dot'></div>
        <div style="top: 496px; left: 557px;" class='dot'></div>
        <div style="top: 496px; left: 577px;" class='dot'></div>
        <div style="top: 496px; left: 597px;" class='dot'></div>
        <!-- Down -->
        <div style="top: 516px; left: 597px;" class='dot'></div>
        <div style="top: 536px; left: 597px;" class='dot'></div>
        <!-- Left -->
        <div style="top: 536px; left: 577px;" class='dot'></div>
        <div style="top: 536px; left: 557px;" class='dot'></div>
        <div style="top: 536px; left: 537px;" class='dot'></div>
        <div style="top: 536px; left: 517px;" class='dot'></div>
        <div style="top: 536px; left: 497px;" class='dot'></div>
        <div style="top: 536px; left: 477px;" class='dot'></div>
        <div style="top: 536px; left: 457px;" class='dot'></div>
        <div style="top: 536px; left: 437px;" class='dot'></div>
        <div style="top: 536px; left: 417px;" class='dot'></div>
        <div style="top: 536px; left: 397px;" class='dot'></div>
        <div style="top: 536px; left: 377px;" class='dot'></div>
        <div style="top: 536px; left: 357px;" class='dot'></div>
        <div style="top: 536px; left: 337px;" class='dot'></div>
        <div style="top: 536px; left: 317px;" class='dot'></div>
        <div style="top: 536px; left: 297px;" class='dot'></div>
        <div style="top: 536px; left: 277px;" class='dot'></div>
        <div style="top: 536px; left: 257px;" class='dot'></div>
        <div style="top: 536px; left: 237px;" class='dot'></div>
        <div style="top: 536px; left: 217px;" class='dot'></div>
        <div style="top: 536px; left: 197px;" class='dot'></div>
        <div style="top: 536px; left: 177px;" class='dot'></div>
        <div style="top: 536px; left: 157px;" class='dot'></div>
        <div style="top: 536px; left: 137px;" class='dot'></div>
        <!-- Down -->
        <div style="top: 556px; left: 137px;" class='dot'></div>
        <div style="top: 576px; left: 137px;" class='dot dot-focus'></div>
        <div style="top: 596px; left: 137px;" class='dot'></div>
        <div style="top: 616px; left: 137px;" class='dot'></div>
        <div style="top: 636px; left: 137px;" class='dot'></div>
        <div style="top: 656px; left: 137px;" class='dot'></div>
        <div style="top: 676px; left: 137px;" class='dot'></div>
        <div style="top: 696px; left: 137px;" class='dot dot-focus'></div>
        <div style="top: 716px; left: 137px;" class='dot'></div>
        <div style="top: 736px; left: 137px;" class='dot'></div>
        <div style="top: 756px; left: 137px;" class='dot'></div>
        <div style="top: 776px; left: 137px;" class='dot'></div>
        <div style="top: 796px; left: 137px;" class='dot'></div>
        <div style="top: 816px; left: 137px;" class='dot dot-focus'></div>
        <div style="top: 836px; left: 137px;" class='dot'></div>
        <div style="top: 856px; left: 137px;" class='dot'></div>
        <div style="top: 876px; left: 137px;" class='dot'></div>
        <div style="top: 896px; left: 137px;" class='dot'></div>
        <div style="top: 916px; left: 137px;" class='dot'></div>
        <div style="top: 936px; left: 137px;" class='dot'></div>
        <!-- Left -->
        <div style="top: 936px; left: 117px;" class='dot'></div>
        <div style="top: 936px; left: 97px;" class='dot'></div>
        <div style="top: 936px; left: 77px;" class='dot'></div>
        <div style="top: 936px; left: 57px;" class='dot'></div>
        <div style="top: 936px; left: 37px;" class='dot'></div>
        <div style="top: 936px; left: 17px;" class='dot'></div>
        <!-- Down -->
        <div style="top: 956px; left: 17px;" class='dot'></div>
        <div style="top: 976px; left: 17px;" class='dot'></div>
        <div style="top: 996px; left: 17px;" class='dot'></div>
        <div style="top: 1016px; left: 17px;" class='dot'></div>
        <div style="top: 1036px; left: 17px;" class='dot dot-focus'></div>
        <div style="top: 1056px; left: 17px;" class='dot'></div>
        <div style="top: 1076px; left: 17px;" class='dot'></div>
        <div style="top: 1096px; left: 17px;" class='dot'></div>
        <div style="top: 1116px; left: 17px;" class='dot'></div>
        <div style="top: 1136px; left: 17px;" class='dot'></div>
        <!-- Right -->
        <div style="top: 1136px; left: 37px;" class='dot'></div>
        <div style="top: 1136px; left: 57px;" class='dot'></div>
        <div style="top: 1136px; left: 77px;" class='dot'></div>
        <div style="top: 1136px; left: 97px;" class='dot'></div>
        <div style="top: 1136px; left: 117px;" class='dot'></div>
        <div style="top: 1136px; left: 137px;" class='dot'></div>
        <div style="top: 1136px; left: 157px;" class='dot'></div>
        <div style="top: 1136px; left: 177px;" class='dot'></div>
        <div style="top: 1136px; left: 197px;" class='dot'></div>
        <div style="top: 1136px; left: 217px;" class='dot'></div>
        <div style="top: 1136px; left: 237px;" class='dot'></div>
        <div style="top: 1136px; left: 257px;" class='dot'></div>
        <div style="top: 1136px; left: 277px;" class='dot'></div>
        <div style="top: 1136px; left: 297px;" class='dot'></div>
        <!-- Down -->
        <div style="top: 1156px; left: 297px;" class='dot'></div>
        <div style="top: 1176px; left: 297px;" class='dot'></div>
        <div style="top: 1196px; left: 297px;" class='dot'></div>
        <div style="top: 1216px; left: 297px;" class='dot'></div>
        <div style="top: 1236px; left: 297px;" class='dot'></div>
        <div style="top: 1256px; left: 297px;" class='dot'></div>
        <div style="top: 1276px; left: 297px;" class='dot'></div>
        <div style="top: 1296px; left: 297px;" class='dot'></div>
        <div style="top: 1316px; left: 297px;" class='dot'></div>
        <div style="top: 1336px; left: 297px;" class='dot'></div>
      </div>

      <a href='http://blog.pearl.coffee' class='btn blog'>Visit Our Blog</a>

      <h3 class='our-product'>OUR PRODUCT</h3>
      <p class='product-desc'>
        Our beans are Sourced Globally & Roasted Locally.
        Ours bags of coffee are made to order- which helps maintain high quality and guaranteed freshness for every batch.
        We rotate our coffee origins based on what is in season.
        We are taking you back to school and educating you on the worlds coffee, one cup at a time.
      </p>

      <div class="gallery">

        <a href='#' class='prev'><i class='icon-arrow-left'></i></a>
        <div class='viewport'>
          <ul>
            <li>
              <a class='fancybox' rel='group' href="/imgs/gallery/photo12.jpg">
                <img src="/imgs/gallery/photo12-thumb.jpg" data-title="Coffee" data-description="Our Coffee">
              </a>
            </li>
            <li>
              <a class='fancybox' rel='group' href="/imgs/gallery/photo10.jpg">
                <img src="/imgs/gallery/photo10-thumb.jpg" data-title="Coffee" data-description="Our Coffee">
              </a>
            </li>
            <li>
              <a class='fancybox' rel='group' href="/imgs/gallery/photo13.jpg">
                <img src="/imgs/gallery/photo13-thumb.jpg" data-title="Coffee" data-description="Our Coffee">
              </a>
            </li>
            <li>
              <a class='fancybox' rel='group' href="/imgs/gallery/photo4.jpg">
                <img src="/imgs/gallery/photo4-thumb.jpg" data-title="Coffee" data-description="Our Coffee">
              </a>
            </li>
            <li>
              <a class='fancybox' rel='group' href="/imgs/gallery/photo8.jpg">
                <img src="/imgs/gallery/photo8-thumb.jpg" data-title="Coffee" data-description="Our Coffee">
              </a>
            </li>
            <li>
              <a class='fancybox' rel='group' href="/imgs/gallery/photo7.jpg">
                <img src="/imgs/gallery/photo7-thumb.jpg" data-title="Coffee" data-description="Our Coffee">
              </a>
            </li>
            <li>
              <a class='fancybox' rel='group' href="/imgs/gallery/photo11.jpg">
                <img src="/imgs/gallery/photo11-thumb.jpg" data-title="Coffee" data-description="Our Coffee">
              </a>
            </li>
            <li>
              <a class='fancybox' rel='group' href="/imgs/gallery/photo3.jpg">
                <img src="/imgs/gallery/photo3-thumb.jpg" data-title="Coffee" data-description="Our Coffee">
              </a>
            </li>
            <li>
              <a class='fancybox' rel='group' href="/imgs/gallery/photo5.jpg">
                <img src="/imgs/gallery/photo5-thumb.jpg" data-title="Coffee" data-description="Our Coffee">
              </a>
            </li>
            <li>
              <a class='fancybox' rel='group' href="/imgs/gallery/photo6.jpg">
                <img src="/imgs/gallery/photo6-thumb.jpg" data-title="Coffee" data-description="Our Coffee">
              </a>
            </li>
            <li>
              <a class='fancybox' rel='group' href="/imgs/gallery/photo9.jpg">
                <img src="/imgs/gallery/photo9-thumb.jpg" data-title="Coffee" data-description="Our Coffee">
              </a>
            </li>
          </ul>
        </div>

        <a href='#' class='next'><i class='icon-arrow-right'></i></a>
      </div>

      <h4 class='about-us-title'>ABOUT US</h4>
      <ul class='about-us'>
        <li>
          <img src='/imgs/kat.png' width="100" height="100">
          <b>Kat Djordjevic</b> is our roaster / packaging / logistics guru and owner.
          Kat’s favorite drinks include cappuccino, iced coffee and turkish coffee.
        </li>

        <li>
          <img src='/imgs/g.png' width="100" height="100">
          <b>Gerald Leenerts</b> is our design / marketing / taste-tester guru and co-owner.
          His favorite drinks include cold brew ice coffee, iced americano --anything to keep him nice and cool.
        </li>

        <li>
          <img src='/imgs/pearl.png' width="100" height="100">
          <b>Pearl</b> is our white boxer and the inspiration for our coffee shop.
          Her rambunctious personality keeps us in line as we work throughout the day.
          Pearl’s favorite drinks include water and more water.
          She can’t get enough.
        </li>
      </ul>

      <p class='belief'>
        We believe that drinking coffee and that surrounding ourselves in the local community is what life should be about.
      </p>
      <p class='specialty'>
        Our specialty is in fresh quality roasted coffee from regions all over the world.
      </p>

      <div class='split split-left'>
        <b>Local CO Restaurants</b>, coffee shop or craft brewer, we’d love to hear from you!
      </div>
      <div class='split split-right'>
        <b>Local CO Business</b>, please drop us a line so we can keep your employees well caffeinated!
      </div>

      <div class='social'>
        <a href="https://plus.google.com/u/0/104992067201358021505" target="_blank" class='googleplus'><i class='icon-googleplus'></i></a>
        <a href="mailto:pearlcoffeeshop@gmail.com" class='email'><i class='icon-mail'></i></a>
        <a href="https://www.facebook.com/PearlCoffeeShop" target="_blank" class='facebook'><i class='icon-facebook'></i></a>
        <a href="https://twitter.com/PearlCoffeeShop" target="_blank" class='twitter'><i class='icon-twitter'></i></a>
        <a href="http://instagram.com/pearlcoffee" target="_blank" class='instagram'><i class='icon-instagram'></i></a>
      </div>

      <h2 class='see-you-soon'>See You Soon!</h2>

    </div>

    <script src='/js/build.js'></script>

    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-53924277-1','auto');ga('send','pageview');
    </script>


  </body>
</html>
